<div class="per_restaurant">
  <%= link_to restaurant_path(restaurant) do %>
    <div class="name">
      <%= restaurant.name %>
    </div>
    <div class="content clearfix">
      <div class="image">
        <% if restaurant.restaurant_images.first.image? %>
          <%= image_tag restaurant.restaurant_images.first.image.url %>
        <% end %>
      </div>
      <div>
        <div class="genres">
          <%= render 'restaurants/genre_list', restaurant: restaurant %>
        </div>
        <div class="introduction">
          <%= Sanitize.clean(restaurant.introduction, :whitespace_elements => [:p, :div]).truncate(50) unless restaurant.introduction.nil? %>
        </div>
      </div>
    </div>
  <% end %>
</div>